body {
  background-color: rebeccapurple;
  color: white;


}
.Writing{
  font-family: cursive;
}
img{

  width:200px;
  height:200px;
}
.Container{
  Width:1000px
}
.right{
  float: right;
  width:500px;

}


.left{
  width:500px;
  float: left;
    
}
