body {
  background-color: rebeccapurple;
  color: white;


}
.Writing{
  font-family: cursive;
}
img{

  width:200px;
  height:200px;
}
.Container{
  Width:800px
}
.right{
  float: right;
  width:50px

}


div{



}
